html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row-row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.container-fluid, .row {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 33.333333%;
  margin: auto;
  padding-bottom: 120px;
  @include media-breakpoint-down(md) {
    width: 66.666666%;
    padding-bottom: 60px;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

a, button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
    box-shadow: none
  }
}

a.large-link {
  color: black
}

.container-fluid {
  padding: 0 60px;
  flex: 1;
  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }
}

h2, h3 {
  font-family: $heading-font;
  font-weight: 900;
  letter-spacing: -0.5px;
}

h3.heading {
  font-size: 1.5em
}

ul {
  li {
    list-style: none;
  }
}

.home-banner {
  margin-top: 50px;
}

.home-login {
  margin-top: 60px;
  margin-bottom: 110px;
  @include media-breakpoint-down(lg) {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.resend-block {
  margin-top: 70px;
  @include media-breakpoint-down(lg) {
    margin-top: 30px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }
}

.continue-block {
  flex-direction: row;
  align-items: flex-end;
  overflow: visible;

}

.middle-block {
  margin-top: 120px;
}

.large-link {
  font-size: 24px;
}
