.primary-color {
  color: $primary
}

.emerald-color {
  color: $emerald
}

.grey-color {
  color: $light-blue-gray
}

.light-grey-color {
  color: $silver-gray
}

.icon-margin-0 {
  &:before {
    margin-left: 0 !important;
    line-height: normal;

  }
}

[class*="flaticon-"].ml-0 {
  &:before {
    margin-left: 0;
  }
}

.flaticon-lg {
  &:before {
    font-size: 30px !important;
    line-height: normal;
  }
}

.flaticon-2x {
  &:before {
    font-size: 40px !important;
    line-height: normal;
  }
}

.flaticon-2-5x {
  &:before {
    font-size: 50px !important;
    line-height: normal;
  }
}

.flaticon-3x {
  &:before {
    font-size: 60px !important;
    line-height: normal;
  }
}