// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary:         #1abc9c;
$emerald:         #2Ecc71;

$clouds-gray:           #eCF0F1;
$silver-gray:           #BDC3C7;
$concrete-gray:         #95a5a6;
$arbestos-gray:         #7f8c8d;

$light-blue-gray:       #8899A6;
$med-blue-gray:         #66757f;
$dark-blue-gray:        #292F33;

// Fonts

$heading-font: 'Butler Black', Georgia, serif;