.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 7px 15px
}

.footer-links {
  li {
    margin-right: 0;
    a {
      color: $light-blue-gray;
      font-size: 14px;
      text-align: center;
      &:hover {
        color: $med-blue-gray;
        font-weight: 700;
      }
    }
    &:after {
      content: '\2022';
      color: $light-blue-gray;
      text-align: center;
      margin: 0 5px;
    }
    &:last-child:after {
      content: "";
      margin: 0;
    }
  }
}