$circle-size: 48px;

.submit-login {
  background: black;
  border-radius: 100%;
  height: $circle-size;
  width: $circle-size;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  border: none;
  i {
    color: white;
    text-align: center;
    line-height: $circle-size;
    &:before {
      margin-left: 0;
    }
  }
  &:hover {
    background: $dark-blue-gray;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.7);
  }
  &.overlapped-button {
    position: absolute;
    bottom: -36px;
    right: 0;
  }

}

.btn-ghost {
  background: transparent;
}