.form-control {
  border: 2px solid $silver-gray;
  border-radius: 8px
}

::placeholder {
  color: $silver-gray
}

.form-with-overlapped-button {
  position: relative;
}

[type="checkbox"] {
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 1.75em;
    cursor: pointer;
    &:before {
      position: absolute;
      left: 0;
      top: -3px;
      font-size: 18px;
    }
  }
  &:not(:checked) + label:before {
    content: "\f120";
    font-family: Flaticon;
  }
  &:checked + label:before {
    content: "\f174";
    font-family: Flaticon;
    color: $arbestos-gray;
    transition: all .2s;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &:disabled {
    &:not(:checked) + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    &:checked + label {
      &:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      &:after {
        color: #999;
      }
    }
    + label {
      color: #aaa;
    }
  }
}

