	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/06/2017 11:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svglaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svglaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-zoom-out:before { content: "\f100"; }
.flaticon-002-zoom-in:before { content: "\f101"; }
.flaticon-003-thunderbolt:before { content: "\f102"; }
.flaticon-004-close-2:before { content: "\f103"; }
.flaticon-005-close-1:before { content: "\f104"; }
.flaticon-006-close:before { content: "\f105"; }
.flaticon-007-wind:before { content: "\f106"; }
.flaticon-008-watch:before { content: "\f107"; }
.flaticon-009-video-camera-1:before { content: "\f108"; }
.flaticon-010-video-camera:before { content: "\f109"; }
.flaticon-011-user-2:before { content: "\f10a"; }
.flaticon-012-user-1:before { content: "\f10b"; }
.flaticon-013-user:before { content: "\f10c"; }
.flaticon-014-upload-2:before { content: "\f10d"; }
.flaticon-015-upload-1:before { content: "\f10e"; }
.flaticon-016-unlock:before { content: "\f10f"; }
.flaticon-017-umbrella:before { content: "\f110"; }
.flaticon-018-twitter:before { content: "\f111"; }
.flaticon-019-triangle:before { content: "\f112"; }
.flaticon-020-trash-1:before { content: "\f113"; }
.flaticon-021-trash:before { content: "\f114"; }
.flaticon-022-switch-1:before { content: "\f115"; }
.flaticon-023-switch:before { content: "\f116"; }
.flaticon-024-like:before { content: "\f117"; }
.flaticon-025-dislike:before { content: "\f118"; }
.flaticon-026-thermometer:before { content: "\f119"; }
.flaticon-027-target:before { content: "\f11a"; }
.flaticon-028-tag:before { content: "\f11b"; }
.flaticon-029-sunset:before { content: "\f11c"; }
.flaticon-030-sunrise:before { content: "\f11d"; }
.flaticon-031-sun:before { content: "\f11e"; }
.flaticon-032-star:before { content: "\f11f"; }
.flaticon-033-square:before { content: "\f120"; }
.flaticon-034-prohibition:before { content: "\f121"; }
.flaticon-035-share:before { content: "\f122"; }
.flaticon-036-search:before { content: "\f123"; }
.flaticon-037-scissors:before { content: "\f124"; }
.flaticon-038-rotate-1:before { content: "\f125"; }
.flaticon-039-rotate:before { content: "\f126"; }
.flaticon-040-refresh-1:before { content: "\f127"; }
.flaticon-041-refresh:before { content: "\f128"; }
.flaticon-042-wifi:before { content: "\f129"; }
.flaticon-043-printer:before { content: "\f12a"; }
.flaticon-044-power-button:before { content: "\f12b"; }
.flaticon-045-pocket:before { content: "\f12c"; }
.flaticon-046-add-2:before { content: "\f12d"; }
.flaticon-047-add-1:before { content: "\f12e"; }
.flaticon-048-add:before { content: "\f12f"; }
.flaticon-049-play:before { content: "\f130"; }
.flaticon-050-pie-chart:before { content: "\f131"; }
.flaticon-051-phone-call-6:before { content: "\f132"; }
.flaticon-052-phone-call-5:before { content: "\f133"; }
.flaticon-053-phone-call-4:before { content: "\f134"; }
.flaticon-054-phone-call-3:before { content: "\f135"; }
.flaticon-055-phone-call-2:before { content: "\f136"; }
.flaticon-056-phone-call-1:before { content: "\f137"; }
.flaticon-057-phone-call:before { content: "\f138"; }
.flaticon-058-pause:before { content: "\f139"; }
.flaticon-059-octagon:before { content: "\f13a"; }
.flaticon-060-musical-note:before { content: "\f13b"; }
.flaticon-061-move:before { content: "\f13c"; }
.flaticon-062-moon:before { content: "\f13d"; }
.flaticon-063-monitor-1:before { content: "\f13e"; }
.flaticon-064-minus-2:before { content: "\f13f"; }
.flaticon-065-minus-1:before { content: "\f140"; }
.flaticon-066-minus:before { content: "\f141"; }
.flaticon-067-minimize-1:before { content: "\f142"; }
.flaticon-068-minimize:before { content: "\f143"; }
.flaticon-069-voice-recording-1:before { content: "\f144"; }
.flaticon-070-voice-recording:before { content: "\f145"; }
.flaticon-071-menu:before { content: "\f146"; }
.flaticon-072-maximize-1:before { content: "\f147"; }
.flaticon-073-maximize:before { content: "\f148"; }
.flaticon-074-map:before { content: "\f149"; }
.flaticon-075-placeholder:before { content: "\f14a"; }
.flaticon-076-email:before { content: "\f14b"; }
.flaticon-077-padlock:before { content: "\f14c"; }
.flaticon-078-loading:before { content: "\f14d"; }
.flaticon-079-lifebuoy:before { content: "\f14e"; }
.flaticon-080-layout:before { content: "\f14f"; }
.flaticon-081-layers:before { content: "\f150"; }
.flaticon-082-instagram:before { content: "\f151"; }
.flaticon-083-info:before { content: "\f152"; }
.flaticon-084-inbox:before { content: "\f153"; }
.flaticon-085-image:before { content: "\f154"; }
.flaticon-086-home:before { content: "\f155"; }
.flaticon-087-heart:before { content: "\f156"; }
.flaticon-088-headphones:before { content: "\f157"; }
.flaticon-089-hash:before { content: "\f158"; }
.flaticon-090-grid:before { content: "\f159"; }
.flaticon-091-worldwide:before { content: "\f15a"; }
.flaticon-092-folder:before { content: "\f15b"; }
.flaticon-093-flag:before { content: "\f15c"; }
.flaticon-094-filter:before { content: "\f15d"; }
.flaticon-095-file:before { content: "\f15e"; }
.flaticon-096-feather:before { content: "\f15f"; }
.flaticon-097-facebook:before { content: "\f160"; }
.flaticon-098-visualization:before { content: "\f161"; }
.flaticon-099-hide:before { content: "\f162"; }
.flaticon-100-external:before { content: "\f163"; }
.flaticon-101-edit:before { content: "\f164"; }
.flaticon-102-droplet:before { content: "\f165"; }
.flaticon-103-download-1:before { content: "\f166"; }
.flaticon-104-cloud-computing-1:before { content: "\f167"; }
.flaticon-105-compact-disc:before { content: "\f168"; }
.flaticon-106-delete:before { content: "\f169"; }
.flaticon-107-cpu:before { content: "\f16a"; }
.flaticon-108-chat-1:before { content: "\f16b"; }
.flaticon-109-chat:before { content: "\f16c"; }
.flaticon-110-command:before { content: "\f16d"; }
.flaticon-111-settings:before { content: "\f16e"; }
.flaticon-112-cloud:before { content: "\f16f"; }
.flaticon-113-cloud-computing:before { content: "\f170"; }
.flaticon-114-clock:before { content: "\f171"; }
.flaticon-115-circle:before { content: "\f172"; }
.flaticon-116-check-2:before { content: "\f173"; }
.flaticon-117-check-1:before { content: "\f174"; }
.flaticon-118-check:before { content: "\f175"; }
.flaticon-119-photo-camera:before { content: "\f176"; }
.flaticon-120-no-photo:before { content: "\f177"; }
.flaticon-121-briefcase:before { content: "\f178"; }
.flaticon-122-cube:before { content: "\f179"; }
.flaticon-123-bookmark:before { content: "\f17a"; }
.flaticon-124-bluetooth:before { content: "\f17b"; }
.flaticon-125-bell-1:before { content: "\f17c"; }
.flaticon-126-bell:before { content: "\f17d"; }
.flaticon-127-battery:before { content: "\f17e"; }
.flaticon-128-bar-chart-1:before { content: "\f17f"; }
.flaticon-129-bar-chart:before { content: "\f180"; }
.flaticon-130-medal:before { content: "\f181"; }
.flaticon-131-at:before { content: "\f182"; }
.flaticon-132-upload:before { content: "\f183"; }
.flaticon-133-right-arrow:before { content: "\f184"; }
.flaticon-134-left-arrow:before { content: "\f185"; }
.flaticon-135-download:before { content: "\f186"; }
.flaticon-136-shutter:before { content: "\f187"; }
.flaticon-137-anchor:before { content: "\f188"; }
.flaticon-138-right-alignment:before { content: "\f189"; }
.flaticon-139-left-alignment:before { content: "\f18a"; }
.flaticon-140-justify:before { content: "\f18b"; }
.flaticon-141-center-align:before { content: "\f18c"; }
.flaticon-142-warning-2:before { content: "\f18d"; }
.flaticon-143-warning-1:before { content: "\f18e"; }
.flaticon-144-warning:before { content: "\f18f"; }
.flaticon-145-monitor:before { content: "\f190"; }
.flaticon-146-sound-waves:before { content: "\f191"; }
